// 宽屏
@media only screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
  .index-c {
    // 水平居中
    margin: 0 auto;
    width: 70vw;
    margin-top: 10vh;
    text-align: center;

    .site-logo {
      width: 18vw;
      height: 15vh;
    }
  }

  .result-c {
    width: 70vw;
    display: flex;
    margin: 5vh 2vw;

    .site-logo {
      width: 7vw;
      height: 6vh;
    }

    .nr-c {
      margin-top: 4rem;

      .nr-img {
        width: 35vw;
        height: 30vh;
      }
    }
  }
  .about-c {
    .left-c {
      width: 25vw;
      height: 90vh;
    }

    .right-c {
      margin-left: 6rem;
      width: 50vw;
    }
  }
}

// 大屏
@media only screen and (max-width: 1600px) and (min-width: 1280px) {
  html {
    font-size: 14px;
  }
  .result-c {
    width: 75vw;
    display: flex;
    margin: 5vh 2vw;

    .site-logo {
      width: 7vw;
      height: 5vh;
    }

    .nr-c {
      margin-top: 4rem;

      .nr-img {
        width: 35vw;
        height: 25vh;
      }
    }
  }

  .index-c {
    margin: 0 auto;
    width: 75vw;
    margin-top: 8vh;
    text-align: center;

    .site-logo {
      width: 18vw;
      height: 12vh;
    }
  }

  .about-c {
    .left-c {
      width: 25vw;
      height: 90vh;
    }

    .right-c {
      margin-left: 4rem;
      width: 50vw;
    }
  }
}

// 普通屏
@media only screen and (max-width: 1280px) and (min-width: 960px) {
  html {
    font-size: 12px;
  }
  .index-c {
    margin: 0 auto;
    width: 80vw;
    margin-top: 6vh;
    text-align: center;

    .site-logo {
      width: 18vw;
      height: 10vh;
    }
  }
  .result-c {
    width: 80vw;
    display: flex;
    margin: 3vh 2vw;

    .site-logo {
      margin-top: 0.2rem;
      width: 7vw;
      height: 4vh;
    }

    .nr-c {
      margin-top: 2rem;

      .nr-img {
        width: 35vw;
        height: 20vh;
      }
    }
  }
  .about-c {
    .left-c {
      width: 25vw;
      height: 75vh;
    }

    .right-c {
      margin-left: 6rem;
      width: 50vw;
    }
  }
}

// 手机屏
@media only screen and (max-width: 960px) {
  html {
    font-size: 10px;
  }
  .index-c {
    margin: 0 auto;
    width: 95vw;
    margin-top: 4vh;
    text-align: center;

    .site-logo {
      width: 18vw;
      height: 6vh;
    }
  }
  .result-c {
    width: 95vw;

    .left-c {
      display: none;
    }

    .right-c {
      margin-left: 0 !important;

      .nr-c {
        margin-left: 2rem;
        margin-top: 2rem;

        .nr-img {
          width: 90%;
          height: 50%;
        }
      }
    }

    display: flex;
    margin: 2vh 3vw;
  }
  .about-c {
    .left-c {
      display: none;
    }

    .right-c {
      margin: 0 !important;
      width: 90vw;
    }
  }
  .error-c {
    margin-top: 20vh !important;

    .error-img-c {
      display: none;
    }
  }
}

html {
  letter-spacing: 1px;
  font-family: 'Comfortaa', Source Sans Pro, -apple-system, BlinkMacSystemFont,
  Roboto, Helvetica Neue, Arial, sans-serif;
}

body {
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

  main {
    margin-bottom: 3rem;
  }
}

html,
body {
  width: 100vw;
  // 总是出现下部滑动条的问题
  overflow-x: hidden;
}

::selection {
  color: whitesmoke;
  background-color: #f32779;
}

span.tag {
  border: 1px solid rgba(144, 147, 153, 0.2);
  background-color: rgba(144, 147, 153, 0.1);
  color: #909399;
  margin-left: 1rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  padding: 0.2rem;
}
