*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  transition: all 0.1s;
  font-family: inherit;
  font-size: inherit;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-break: break-all;
  white-space: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

strong,
em, .highlight {
  background-color: inherit !important;
  color: #f32779;
  font-size: inherit;
}

input {
  font-size: 1.2rem;
  width: 100%;
  color: #000 !important;

  &::placeholder {
    font-size: 1rem;
    color: #ccc;
    text-shadow: none;
    -webkit-text-fill-color: initial;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  // 防止首页推荐折叠
  word-break: break-all;
}

svg {
  max-width: 1.3rem !important;
  max-height: 1.3rem !important;
}
